<html class="para">
<head>
<title>title page</title>
<style>
.para{
border-style:solid;
border-width:0;
border-color:green;
padding:100px;

     }
</style>
</head>
<body style="background-image:url('https://wallpaperaccess.com/full/473027.jpg')">

<h1 style="position:absolute;top:40;left:430;color:red">About Amazon And Flipkart</h1>

<h3 style="color:white;">amzdealz.net attaches great importance to current deal information. All prices including sales tax. Interim changes in prices, ranking, delivery time and costs possible. The information regarding the price and availability shown on the Amazon site at the time of purchase is that valid for the purchase. amzdealz.net receives a commission for all purchases via our Amazon links. As an Amazon Associate we earn from qualifying purchases.</h3>
<h3 style="color:blue">flipkart.net attaches great importance to current deal information. All prices including sales tax. Interim changes in prices, ranking, delivery time and costs possible. The information regarding the price and availability shown on the Flipkart site at the time of purchase is that valid for the purchase. flipkart.net receives a commission for all purchases via our Flipkart links. As an Flipkart Associate we earn from qualifying purchases.</h3>
<a href="https://www.amazon.in" target=_blank>
<img src="https://wallpaperaccess.com/full/1383592.jpg" width="230" height="180" style ="position:absolute;left:200px; top:400px;">
</a>
<a href="https://www.flipkart.com" target=_blank>
<img src="https://www.freepnglogos.com/uploads/flipkart-logo-png/logo-of-flipkart-icube-portable-ice-maker-latest-model-7.png"width="300" height="200" style="position:absolute;left:760px;top:400px;">
</a>
</body>
</html>